
body {
  overflow-x: hidden;
}

.fixed-top{
  top:0;
  height:60px;
  padding: 0.6rem;
}

#wrapper {
  padding-left: 0;
  top:0px;
  margin-top:80px;
  bottom: 0;
  overflow-y: scroll;
}

nav {
    /*background-color: #002B36;*/
}

.language-wrapper {
    /*color: #d6d6d6;*/
}


.language-wrapper {
    position: fixed;
    width: 200px;
    font-size: 12px;
    overflow-y: scroll;
    top: 60px;
    bottom: 0;
    padding:0;
}

.language-wrapper ul  {
  list-style-type: none;
  padding: 0;
}

.language-wrapper li  {
  font-weight: bold;
  padding: 3px 0 6px 12px;
}

.sidebar-wrapper {
    position: fixed;
    width: 350px;
    font-size: 12px;
    overflow-y: scroll;
    margin-left: 200px;
    top: 60px;
    bottom: 0;
}

.sidebar-wrapper li  {
    font-weight: bold;
}
.sidebar-wrapper p  {
    padding-bottom: 2px;
    margin-bottom: 0px;
}

#page-content-wrapper {
    position: relative;
    margin-left: 50px;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

code{
  font-size:12px !important;
  text-indent: 0px !important;
}

/*.language-wrapper li:hover, .language-wrapper .active{*/
/*  background-color:#073642;*/
/*  color: #ffffff;*/
/*  margin-right: 0;*/
/*}*/

.language-wrapper li:active, a.bg-inverse:active,.sidebar-nav li:active,.language-wrapper li:focus, a.bg-inverse:focus,.sidebar-nav li:focus{
    background-color: #2d2d2d !important;
    color: #d6d6d6;
}
.language-wrapper li:hover, a.bg-inverse:hover,.sidebar-nav li:hover{
  cursor: pointer;
  cursor: hand;
}

.language-wrapper hr {
  margin-bottom: 3px !important;
}

.badge-default {
    background-color: #3c4b56;
}

.searchbox {
  position: inherit;
  top: 10px;
  right: 10px;
}

.files ul, .files ul li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Only for dark theme*/
.edit-mode, .description{
  /*border-color: #1e434a !important;*/
  /*background-color: #1e434a;*/
  /*color: #ffffff;*/
}

.description {
  height: 220px;
  width: 100%;
  position: relative;
  border: 1px solid;
  margin-top: 1em;
  padding: .4em;
  border-radius: calc(.25rem - 1px);
}

.card-body .description {
  height: 300px;
  border: none;
  margin-top: 0;
  padding: .4em;
  border-radius: 0;
  font-family: monospace;
}

.descriptionView {
  white-space: pre-wrap;
}

code.hljs {
    background: #002b3600;
}

.twoline{
    line-height: 1;
    font-size: .8rem;
}