
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>gisty~</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/3.4.3/backbone.marionette.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/backbone.radio/2.0.0/backbone.radio.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github-gist.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link href="gisty.css" rel="stylesheet">
  </head>

  <script type="text/template" id='language-template'>
    <span style='font-height:24px !important;font-weight:bold;'><%= language %> <span class="badge badge-pill badge-default"><%= length %></span></span>
  </script>

  <script type="text/template" id='tag-template'>
    <span style='font-height:24px !important;font-weight:bold;font-style:italic'>##<%= tag %> <span class="badge badge-pill badge-default"><%= length %></span></span>
  </script>

  <script type="text/template" id='search-template'>
  
    <ul class="nav">
      <li class="nav-item" style="margin-right:1em;">
        <button class="btn btn-success new-gist">New gist</button>
      </li>
      <li class="nav-item">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
      </li>
    </ul>
  </script>


  <script type="text/template" id='file'>
    <div class="card">
      <div class="card-header">
        <h5 style="float:left;margin-top: 0.5rem;"><%= filename %></h5>
        <button class="btn btn-primary copy" style="float:right">Copy</button>
      </div>
      <div class="card-body">
        <pre class="card-text"><code class="<%= language %>"><%= _.unescape(content.replaceAll("<","&lt;").replaceAll(">","&gt;").replaceAll("&","&amp;")) %></code></pre>
      </div>
    </div>
    <br>
  </script>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <script type="text/template" id='template-edit-file'>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-8">
            <input class="form-control mr-sm-2 float-left fileName" type="text" placeholder="Filename and extension" value="<%= filename %>">
          </div>
          <div class="col">
            <button class="btn btn-danger deleteFile float-right">Delete</button>
          </div>
        </div>
      </div>
      <div class="card-body edit-mode ">
        <textarea class="description"><%= content %></textarea>
      </div>
    </div>
    <br>
  </script>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <script type="text/template" id='item'>
    <p class='truncate'><%= description %></p>
    <p style='font-height:8px !important'><%= intUpdateDate %></p>
    
    <%
      if (tags.length > 0) {
          _.each(tags.split(' '), function (tags) { %>
              <span class='badge badge-pill badge-primary'><%= tags %></span><%
          });
      }
    %>
  </script>

  <script type="text/template" id='details'>
    <div class="row">
      <div class="col-8">
        <button class="btn btn-warning edit-gist">Edit</button>
        <button class="btn btn-danger deleteGists">Delete</button>
        
      </div>
    </div>
    
    <div>
      <p class='descriptionView'><%= description || "loading" %></p>
    </div>
      <%
        if (tags.length > 0) {
            _.each(tags.split(' '), function (tags) { %>
                <span class='badge badge-pill badge-primary'><%= tags %></span><%
            });
        }
      %>
    <br>
    <br>
    <div class='files' style="padding:0px;margin:0px"></div>
  </script>





  <script type="text/template" id='template-edit-details'>
    <div class="row">
      <div class="col-8">
        <button class="btn btn-success save-gist">Save</button>
        <button class="btn btn-warning cancel-gist">Cancel</button>
      </div>
    </div>
    
    <div>
      <textarea class="description"><%= description %></textarea>
    </div>
    <br>
    <br>
    <div class='files' style="padding:0px;margin:0px"></div>
    <div style="padding:0px;margin:0px">
    <div class="row">
        <div class="col">
          <button class="btn btn-success add-gist">Add File +</button>
        </div>
      </div>
    </div>
  </script>



  <script type="text/template" id='template-loading'>
    <div class="row">
      <div class="col">
          <h1>Saving, please wait...</h1>
      </div>
    </div>
  </script>







  <script type="text/template" id='template-new-details'>
    <div class="row">
      <div class="col-8">
        <button class="btn btn-success save-gist">Save</button>
        <button class="btn btn-warning cancel-gist">Cancel</button>
      </div>

    </div>
    
    <div>
      <textarea class="description"></textarea>
    </div>
    <br>
    <br>
    <div class='files' style="padding:0px;margin:0px"></div>
    <div style="padding:0px;margin:0px">
    <div class="row">
        <div class="col">
          <button class="btn btn-success add-gist">Add File +</button>
        </div>
      </div>
    </div>
  </script>













  <body>
    <nav class="navbar-inverse fixed-top bg-inverse">
      <ul class="nav">
        <li class="nav-item">
            <a class="navbar-brand" href="#">gisty~</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-inverse" href="https://github.com/DanShrader/gisty" target="_blank">GitHub Repo</a>
        </li>
      </ul>
        <span class="nav-item searchbox float-right"></span>
    </nav>
  
    <div id="wrapper">
      <div class="language-wrapper">
        <h6>Languages</h6>
        <hr style="margin:0rem;color:#ffffff">
        <div id='language'></div>
        <h6>Tags</h6>
        <hr style="margin:0rem;color:#ffffff">
        <div id='tags'></div>
      </div>
      <div class="sidebar-wrapper" id='list'></div>
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div id='content'>
            Loading...
          </div>
        </div>
      </div>
    </div>
    <script src='gisty.js'></script>
  </body>
  
</html>